sap_agents/orchestrator_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "path": "orchestrator",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "command": "python3 /home/neuralspark/Documents/Antigravity/sap_agents/orchestrator_agent.py --prompt \"{{$json[\"body\"][\"prompt\"]}}\" {{ $json[\"body\"][\"explain\"] ? \"--explain\" : \"\" }}"
            },
            "name": "Execute Orchestrator",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Execute Orchestrator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Orchestrator": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}